#contenedor {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#boton {
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}

body{
    background-color: purple;
}

#pag2 {
    background-color: blue;
}
<<<<<<< HEAD

#pag4 {
    background-color: brown;
=======
.link{
    color: white;
    text-decoration: none;
>>>>>>> d0d6a3341f9d901f26592ed8d8a88e08ee9cf628
}